html {
    font-family: Lato, sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    
    background-color: #6d8992;
    color: #f5f6f6;
    margin: 0 auto 20px auto;  
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}
.navbar_content {
    max-width: 640px;   /* size of browser */
    margin: 0 auto;  
    padding: 20px auto;
    display: flex;
    flex-direction: row;
}

.navbar__brand {
    display: flex; 
    align-items: center;
     color: #f5f6f6;
}

.navbar__logo {
    margin-right: 30px;
    height: 72px;
    width: 62px;
    font-weight: bold;
    
}

.navbar__navigation {
    display: flex; 
    flex-direction: row;
    padding: 0;
    list-style: none;
    color: #f5f6f6;
    font-weight: bold;
}

.navbar__navigation-item {
    margin-left: 50px;

}

.navbar__link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    color: #222f3b;
    background-color: #f0f0f4;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea {
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: 1px solid #5c6b70;
    background-color: #f3f6f6;
    margin-bottom: 10px;
}

.form__submit {
    background-color: #00cbff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #ff9300;
}

.entry {
    margin-top: 50px;
}

.entry__title {
    display: inline;
    font-size: 18px;
}

.entry__date {
    color: #5c6b70;
}

.entry__content {
    font-size: 16px;
    line-height:150%;
}

.footer {
    background-color: #323f43;
    padding: 40px 0;    /* 40px top and bottom, 0 left       and right*/
    margin-top: 50px;
    border-top: 4px solid black;
    color: white;
    font-size: 12px;
}

.footer__content {
    max-width: 640px;   /* size of browser */
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footer__item {
    margin-bottom: 5px;
    color: white;    /* remove blue of link and make font color */
    font-weight:bold; 
    font-size: 12px;
    text-decoration: none;
}

.footer__item:hover {
    text-decoration: none;
}
