html {
    font-family: Lato, sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    max-width: 640px;
    height: 100px;
    background-color: #747499;
    color: white;
    margin: 0 auto;  
    padding: 0 10px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
}

.navbar__brand {
    display: flex; 
    align-items: center;
}

.navbar__logo {
    margin-top: 45px;
    margin-right: 80px;
}

.navbar__navigation {
    display: flex; 
    flex-direction: row;
    padding: 0;
    list-style: none;
    color: #f5f6f6;
    font-weight: bold;
}

.navbar__navigation-item {
    margin-left: 50px;

}

.navbar__link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.main {
    max-width: 640px;
    margin: 0 auto;
    padding: 20px 40px 20px 40px;
    color: #222f3b;
    background-color: #f2f2f6;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea {
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: 1px solid #5c6b70;
    background-color: #f3f6f6;
    margin-bottom: 10px;
}

.form__submit {
   
    background-color: #59339a;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 12px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #c7c638;
}

.entry {
    margin-top: 40px;
    margin-bottom: 20px;
}

.entry__title {
    display: inline;
    font-size: 18px;
}

.entry__date {
    color: #5c6b70;
}

.entry__content {
    font-size: 16px;
    line-height:150%;
}

.footer {
    background-color: #747499;
    padding: 40px 0;    /* 40px top and bottom, 0 left and right*/
    margin-top: 20px;
    border-top: 4px solid #747499;
    color: white;
    font-size: 12px;
}

.footer__content {
    max-width: 640px;   /* size of browser */
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.footer .left {
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
     margin-bottom: 5px;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.footer__item {
    margin-bottom: 5px;
    color: white;    /* remove blue of link and make font color */
    font-weight:bold; 
    font-size: 12px;
    text-decoration: none;
}

.footer__item:hover {
    text-decoration: none;
}
