html {
    font-family: Lato, sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
}

header{
    max-width: 700px;
    background-color: #747499;
    padding: 25px 0;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
    color: white;
}
header .title {
    display: flex;
    align-items: center; 
    color: white;
    margin-right: auto;
    text-align: right;
}
header img {
    margin-right: 30px;
    text-align: left;
    padding-left: 5px;
}

header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    color: white;
    list-style: none;    
    margin-left: auto;
    padding-right: 8px;
    
}
header .menu .menu-item {
    margin-left: auto;
    text-decoration: none;
    text-align: right;
    padding-right: 8px;
}

li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}

.main {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px 30px 20px 30px;
    color: #222f3b;
    background-color: #f2f2f6;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea {
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: 1px solid #5c6b70;
    background-color: #f3f6f6;
    margin-bottom: 10px;
}

.form__submit {
   
    background-color: #9619ea;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 12px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #6dea19;
}

.entry {
    margin-top: 40px;
    margin-bottom: 20px;
}

.entry__title {
    display: inline;
    font-size: 18px;
}

.entry__date {
    color: #5c6b70;
}

.entry__content {
    font-size: 16px;
    line-height:150%;
}

.footer {
    background-color: #747499;
    padding: 40px 0;    /* 40px top and bottom, 0 left and right*/
    margin-top: 20px;
    border-top: 4px solid #747499;
    color: white;
    font-size: 12px;
}

.footer__content {
    max-width: 680px;   /* size of browser */
    margin: 0 auto;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
}

.footer .left {
    margin-top: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: auto;
}

.footer__column {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
  }

.footer__item {
    margin-bottom: 5px;
    color: white;    /* remove blue of link and make font color */
    font-weight:bold; 
    font-size: 12px;
    text-decoration: none;
}

.footer__item:hover {
    text-decoration: none;
}
