{% extends "home.html" %}
{% block content %}

    <div class="container">
        <h1>About Me</h1>

        <p>I am transitioning to development after a long career working in the medical records field. When faced with the option of finding just another job after a team-wide layoff at my company, or attending training for a new career; I jumped at the chance to go to school to learn programming. This has been a long-time desire of mine.

        </p>
        <p>I am excited for the opportunity to utilize the skills I have learned over the past almost three years, and to continue to learn and grow in this field. I am diligent worker who is passionate about technology and learning.

        </p>
    </div>


{% endblock %}