<!DOCTYPE html>
<html>
    <head></head>
    <body>

        <h1>How this app was made</h1>

        <p>After obtaining my Associate of Science Degree in Software Development (Cummulative GPA 3.41) I felt there was more I needed to learn before attempting to enter the job market. This app is a result of working through the Web Developer Bootcamp with Flask and Python certificate class by Teclado by Jose Salvatierra. 
            
        </p>
        <p>This app utilizes HTML5, CSS3, Python, Flask, Jinja2, MongoDB, GitHub and is deployed on Heroku. I learned a lot building this Microblog.  I customized it a bit for my preferences and added a link to a .NET sample doctor's office website that I created as a portfolio.  I hope you like my work!  Thanks for visiting!  Denise 

        </p>
        <p><a href="{{ url_for('home')}}">Return to home</a></p>

    </body>
</html>
  